<div class="container">
    <h1 class="mb-4">Blog Article</h1>
    <a href="/articles/new" class="btn btn-success">New Article</a>

    <% articles.forEach(article =>{ %>
     <div class="card mt-4">
         <div class="card-body">
             <h4 class="card-title"><%= article.title %></h4>
             <div class="card-subtitle text-muted mb-2">
                 <%= article.createdAt.toLocaleDateString() %>
             </div>
             <div class="card-text mb-2"><%= article.description %></div>
             <a href="/articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
             <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
             <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
             <button type="submit" class="btn btn-danger">Delete</button>
             </form>
         </div>
     </div>
     <% }) %>
</div>

<% var found = false %> 
<% users.forEach(user => { %> 
    <% if(found !== true) { %> 
        <% if(userId != null ) { %> 
            <% if( user.userId == userId ) { %>
                <h4><%= user.userId %> </h4>
                <% found = true %> 
            <% } %> 
        <% } else { %>
        <h4><%= user.userId %> </h4>
        <% } %> 
    <% } %>    
<% }) %> 




const articles =await Article.find().sort({
    createdAt:'desc'
  })
  const users =await User.find().sort({
    createdAt:'desc'
  })
  const hello = await User.find(req.params.userId)
  res.render('find',{
    articles:articles,
    users:users,
    hello,
  })